<!DOCTYPE html>
<html>
<head>
    <title>Inserisci Punteggio</title>
</head>
<body>
    <form action="/punteggio" method="POST">
        <label for="gioco">Nome del videogioco:</label>
        <input type="text" id="gioco" name="gioco" required>
        <label for="punteggio">Punteggio:</label>
        <input type="number" id="punteggio" name="punteggio" required>
        <input type="submit" value="Invia">
    </form>
</body>
</html>
